<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ apache_doc_root }}

    <Directory {{ apache_doc_root }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

</VirtualHost>